*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
     align-items: center;
     justify-content: center;
     overflow: hidden;
     background-color: #5498FFFF;
     margin: 0;
     padding: 20px;
}

.container{
    background-color: #fff;
    max-width: 100%;
    border-radius: 10px;
    width: 800px;
    padding: 50px 20px;
    text-align: center;
}

h3 {
     margin: 0;
     opacity: 50%;
     letter-spacing: 2px;
}

.jokes {
    max-width: 600px;
    font-size: 32px;
    margin: 50px auto;
    line-height: 40px;
    letter-spacing: 1px;
}

.jokesbtn{
    background-color: #8132a8;
    color: #fff;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 40px;
    font-size: 15px;
}

.jokesbtn:hover{
    background-color: #a8329e;
}